.mobile-menu-button {
  width: 30px;
  height: 25px;
  display: block;
  background-color: transparent;
  border-left: 0;
  box-sizing: border-box;
  border-right: 0;
  border-top: 2px solid $color-icon;
  border-bottom: 2px solid $color-icon;
  position: relative;
  cursor: pointer;
  display: none;
  outline: none;
  z-index: 10;
  &::after,
  &::before {
    transition: 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-icon;
    content: "";
    left: 0;
    right: 0;
    position: absolute;
  }
  &::after {
    top: 50%;
    margin-top: -5px;
  }

  &::before {
    bottom: 50%;
    margin-bottom: -5px;
  }

  &_active {
    border-bottom: none;
    border-top: 0;

    &::after,
    &::before {
      top: 50%;
      margin-top: 0;
      margin-bottom: 0;
      bottom: 0;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }

  @media (max-width: $size-tablet) {
    display: block;
  }
  @media (max-width: $size-mobile) {
    position: fixed;
    z-index: 10;
    right: 10px;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 5;
  transform: translateX(100%);
  justify-content: center;
  &_active {
    transform: translateX(0);
  }
  &__list {
    @include lists-reset;
    flex-direction: column;
    gap: 15px;
  }
  &__link {
    color: $color-light;
    text-decoration: none;
    text-align: center;
  }
}
