.navigation-main {
  @media (max-width: $size-tablet) {
    display: none;
  }
  &__list {
    @include lists-reset;
    gap: 45px;
    @media (max-width: $size-laptop) {
      gap: 15px;
    }
  }
  &__link {
    color: $color-light;
    transition: 0.5s ease;
    text-decoration: none;
    &:hover {
      color: darken($color-light, 50%);
    }
    &_active {
      font-weight: 500;
    }
  }
}
