.scroll-button {
  @include round-button;
  opacity: 0;
  right: 10%;
  bottom: 10px;
  position: fixed;
  &::after {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    transform: rotate(225deg);
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
  }

  &_visible {
    opacity: 1;
  }
}
