// Color Styles

$color-light: #ffff;
$color-blue: #3a4574;
$color-dark: #808080;
$color-dark-l: #2e2e2e;
$color-primary: #000;
$color-icon: #d3b47f;

// Fonts */

$font-primary: "Poppins", sans-serif;

// Media Sizes

$size-desktop: 1179px;
$size-laptop: 1200px;
$size-tablet: 768px;
$size-mobile: 425px;

// default size

$default-font-size: 16px;
$default-font-weight: 400;
$default-line-height: 160%;
