@import "fonts";
@import "variables";
@import "mixins";
@import "buttons";

body {
  background-color: $color-light;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  font-style: normal;
  font-family: $font-primary;
  color: $color-primary;
  margin: 0;
  position: relative;
}
.container {
  max-width: $size-desktop;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0 auto;
  @media (max-width: $size-laptop) {
    padding: 0 15px;
  }
}

.scroll-hidden {
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
}

.section-dark {
  background-color: $color-blue;
  color: $color-light;
}

.logo-wrapper {
  max-width: 269px;
  @media (max-width: $size-laptop) {
    max-width: 150px;
  }
}

@import "header";
@import "navigation";
@import "phone-link";
@import "mobile-menu";
@import "socials";
@import "menu";
@import "menu-schedule";
@import "swiper";
@import "popup";
@import "form";
