$body-color: blue;

@import "fonts";

body {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0;
  padding-top: 100px;
  position: relative;
  transition: 0.5s ease;

.container {
  max-width: 1240px;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0 auto;
}
@import "normalize.css/normalize";
